.index {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tableHeight {
  flex: 1 0;
  overflow: hidden;
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.dateStyle {
  width: 100% !important;
}
